<mat-card>

    <mat-card-header>

        <mat-card-title>
            Login
        </mat-card-title>

    </mat-card-header>

    <mat-card-content>

        <p>
            <mat-form-field appearance="fill">
                <mat-label>Usuário</mat-label>
                <input matInput placeholder="Meu Usuário"
                    [(ngModel)]="username"/>
            </mat-form-field>
        </p>

        <p>
            <mat-form-field appearance="fill">
                <mat-label>Senha</mat-label>
                <input matInput type="password"
                    [(ngModel)]="password"/>
            </mat-form-field>
        </p>
        
        <div class="login-buttons">
    
            <button mat-flat-button color="primary"
                (click)="logar()">
                Logar
            </button>
            
            <button mat-flat-button color="primary"
                (click)="registrar()">
                Criar Nova Conta
            </button>
        </div>

    </mat-card-content>
    
</mat-card>

<input 
    type="file" #file 
    placeholder="Choose file" 
    (change)="uploadFile(file.files)" 
    style="display:none;">
<button 
    mat-raised-button color="primary" 
    (click)="file.click()">Carregar imagem</button>
